// Color variables
$primary_color: #dfefff;
$secondary_color: #ffffe5;
$sucess_color: #aaeebb;
$sucess_hover_color: #ddffdd;
$title_color: #4F3333;

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $primary_color;
}

.content {
    width:100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: $secondary_color;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;

    h1{ /* Apply the following to h1s inside the content */
        color: $title_color;
    }

    table{
        width:100%;
        margin-top: 20px;
        border-collapse: collapse;
        
        th, td{ /*Apply to both table headers and table datsa*/
            padding: 10px;
            border: 1px solid #ccc;

            th{ /*Apply only to table headers, this is valid syntax*/
                background-color: $title_color;
                color: $primary_color;
            }
        }

        a{
            display: inline-block;
            padding: 8px 16px;
            margin: 5px;
            border-radius: 20px;
            background-color: $primary_color;
            color: #fff;
            text-decoration: none;
            transition: background-color 0.3s ease;

            &:hover{
                background-color: $sucess_hover_color;
            }
        }
    }

    input{
        padding:10px;
        margin: 5px;
        border: solid 1px;
        border-radius: 5px;
    }

    btn_submit{
        background-color: $sucess_color;
        color: fff;
        cursor: pointer;
        &hover{
            background-color: $sucess_hover_color;
        }
    }
}
