{%extends 'base.html'%}

{% block head %}
<title>Seating Adjuster | Create a person</title>
{% endblock %}

{%block body%}
<div class="content">
    <h1>The Chart</h1>
    <div class="row">

        <div class="column1">
            <a href="/" style="text-align: left;">Back</a>
        </div>

        <div class="column2"> 
            {% if persons | length < 1 %}
            <h3>There's nobody in the team... Add somebody!</h3>
            {% else %}
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Теаm</th>
                    <th>Actions</th>
                </tr>
                {% for person in persons %}
                    <tr>
                        <td>{{person.id}}</td>
                        <td>{{person.name}}</td>
                        <td>{{person.team }}</td>
                        <td><a href="/delete/person/{{person.id}}">Delete</a>
                        <a href="/edit/person/{{person.id}}">Edit</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}

            <form action="/create/person" method="POST">
                <input type="text" name="name" id="name"/>
                <input type="submit" value="Submit",id="btn_submit"/>
            </form>
        </div>

    </div>
</div>
{%endblock%}